@page
@model Training2.Pages.MyLoggerUiModel
@{
        
}


<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TempModel.LogLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempModel.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempModel.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempModel.Exception)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Movie[0].Rating)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PageResponse.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LogLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exception)
                </td>                
            </tr>
        }
    </tbody>
</table>